
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color:  #CAC2AD; 
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #333333;
}

p {
  color: #5D5A54
}